/*
section.container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid black;
    border-radius: 5px;


    h1 , h3 {
        font-family: 'Times New Roman', sans-serif;
    }
    .generate-box {
        display: flex;
        gap: 10px;




    button {
        background-color: pink;
        border-radius: 5px;
        border-color: lightcoral;
}

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                display: flex;
                gap: 10px;
                justify-content: space-between;
            }
        }
    }

    #output {
        overflow:scroll;
        max-width: 90vw;
        max-height: 60vh;

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;

        .highlight {
            background-color: lightsteelblue;
        }

        tr {

            &:first-of-type {
                background-color: lightblue;

            }

            &:last-of-type {
                background-color: lightyellow;
            }

            &:hover {
                background-color: peachpuff;
            }


        }


            td {
                padding: 2px;
                text-align: center;

                &:last-of-type {
                    background-color: lightcoral;
                }

                &:first-of-type {
                    background-color: lightgreen;
                }

                &:hover {
                    background-color: lightblue;
                }

            }
        }

    }
}*/

section.container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .generate-box{
        display: flex;
        gap: 10px;

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                display: flex;
                gap: 10px;
                justify-content: space-between;
            }
        }
    }

    #output {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .row {
            display: flex;
            justify-content: space-between;
            gap: 5px;
        }
    }
}
